.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--DarkBlue);
  width: var(--DefaultOffset);
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 4px solid var(--Black);
  z-index: 1;
}

::deep a.nav-link{
  text-decoration: none;
}

img{
  align-self: start;
  justify-self: start;
  margin: 5px;
}