.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #49c5ca;
  width: var(--DefaultOffset);
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 3px solid #080f10;
}

::deep a.nav-link{
  text-decoration: none;
}

img{
  align-self: start;
  justify-self: start;
  margin: 5px;
}