div {
  display: flex;
  height: 100%;
}

.Content {
  padding: var(--GeneralMargin);
  display: flex;
  flex-direction: column;
  width: 77%;
  height: 100%;
  background-color: var(--LightBlue);
}

.RightSideSpace, .LeftSideSpace{
  width: var(--FrameWidth);
}

