summary {
  list-style: none;
  align-items: center;
  display: flex;
}

details[open] summary {
  color: var(--Secondary-Color);
}

details[open] {
  margin-bottom: 10px;
}

::deep a.nav-link {
  display: inline-block;
  margin-left: 1.5vw;
  width: max-content;
  text-decoration: none;
}

  ::deep a.nav-link.active {
    color: var(--Secondary-Color);
  }
