summary {
  list-style: none;
  text-align: center;
}

details {
  text-align: center;
}

::deep a.nav-link {
  text-decoration: none;
}

  ::deep a.nav-link.active {
    color: var(--Secondary-Color);
  }
