div.LandingContainer {
  margin: auto;
}

.ProjectDescription img,
.CodeBlockWrapper, iframe {
  margin: calc(var(--GeneralMargin)/2) 0 calc(var(--GeneralMargin)/2) 0;
}

.ProjectDescription img {
  border: var(--PixelBorder) solid var(--Black);
  width: max-content;
  max-width: 100%;
}

.ProjectDescription {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.ProjectDescription h3 {
  margin-top: var(--GeneralMargin);
  margin-bottom: var(--PixelBorder);
}

.ImageGrid {
  display: grid;
  gap: var(--GeneralMargin);
  grid-template-columns: 1fr 1fr;
}

.ImageGrid>img {
  border: var(--PixelBorder) solid var(--Black);
  width: 100%;
  max-width: 100%;
}

.ProjectPage {
  margin-bottom: var(--GeneralMargin);
}

a{
  color: var(--DarkBlue);
  text-decoration: underline;
}

iframe{
  aspect-ratio: 1920/1080;
}

.ProjectDescription .StickyNote > h3 {
  margin: 0;
}

.ProjectDescription .StickyNote {
  width: fit-content;
  margin-top: var(--GeneralMargin);
}

.StickyNote {
  padding: 0 var(--PixelBorder) 0 var(--PixelBorder);
}