@font-face {
  font-family: headers;
  src: url('/fonts/HomeVideo-BLG6G.ttf');
}

@font-face {
  font-family: generalText;
  src: url('/fonts/MedodicaRegular.otf');
}

* {
  --DefaultOffset: 15vw;
  margin: 0;
  padding: 0;
  font-family: generalText;
} 
#app {
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: headers;
}