/* /App.razor.rz.scp.css */
body[b-wprhjwf3l8] {
}
/* /Components/Intro.razor.rz.scp.css */
img[b-d91jwnaszd] {
  image-rendering: pixelated;
}
/* /Components/ProjectPreview.razor.rz.scp.css */
.ProjectPreviewContent[b-hk8k3dd53e] {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between
}

.ProjectPreview[b-hk8k3dd53e] {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProjectCard[b-hk8k3dd53e] {
  margin-bottom: 10px;
  width: 400px;
}
/* /Components/ProjectPreviewCard.razor.rz.scp.css */
img[b-snybfviw7j] {
 box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  max-height: max-content;
  width: 18vw;
}

p[b-snybfviw7j]{
  text-wrap: wrap;
}

/* /Layout/Header/Header.razor.rz.scp.css */
.Header[b-27maqs40pe] {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--DarkBlue);
  width: 100%;
  height: 7.5vw;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: var(--PixelBorder) solid var(--Black);
  border-top: var(--PixelBorder) solid var(--Black);
}

.Logo[b-27maqs40pe] {
  width:   var(--FrameWidth);
}

img[b-27maqs40pe] {
  align-self: start;
  justify-self: start;
  width: 5vw;
  margin: 5px;
}

.Menu[b-27maqs40pe] {
  width:75%;
  display: flex;
  justify-content: space-between;
}
/* /Layout/Header/HeaderComponent.razor.rz.scp.css */
*[b-fih9m6ih3k]{
  text-decoration: none;
}
/* /Layout/MainLayout.razor.rz.scp.css */
div[b-57rfh191dz] {
  display: flex;
  height: 100%;
}

.Content[b-57rfh191dz] {
  padding: var(--GeneralMargin);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  background-color: var(--LightBlue);
  padding-bottom: 2vh;
}

.RightSideSpace[b-57rfh191dz], .LeftSideSpace[b-57rfh191dz]{
  width: var(--FrameWidth);
}
/* /Layout/SubPageBar/SubPageBar.razor.rz.scp.css */
.SubPageBar[b-z97dcho4y6] {
  height: 100%;
  width: 100%;
  border-right: 4px solid var(--Black);
  background-color: var(--DarkBlue);
}
/* /Layout/SubPageBar/SubPageBarComponent.razor.rz.scp.css */
div[b-6sgbh26mvi] {
	border: 4px solid var(--Black);
}
/* /Pages/DefaultProject.razor.rz.scp.css */
.HeadPort > div[b-1zo35c79yg] {
  display: flex;
width: fit-content;
  border: 4px solid var(--Black);
}

  .HeadPort img[b-1zo35c79yg] {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
  }

  .HeadPort h1[b-1zo35c79yg] {
    writing-mode: vertical-lr;
    letter-spacing: -20px;
    text-orientation: upright;
    text-align: end;
    overflow: visible;
    display: block;
  }

h5[b-1zo35c79yg]{
  padding-top: 2em;
  width: 40vw;
}

.Project[b-1zo35c79yg] {
  display: flex;
  flex-direction: column;
  margin: 4vw;
}

/* /Pages/Home.razor.rz.scp.css */
