/* /App.razor.rz.scp.css */
body[b-wprhjwf3l8] {
}
/* /Components/Intro.razor.rz.scp.css */
img[b-d91jwnaszd] {
  image-rendering: pixelated;
}
/* /Components/ProjectPreview.razor.rz.scp.css */
.ProjectPreviewContent[b-hk8k3dd53e] {
  display: flex;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.ProjectPreview[b-hk8k3dd53e] {
  margin: 4vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProjectCard[b-hk8k3dd53e] {
  margin-bottom: 10px;
  width: 18vw;
}

h3[b-hk8k3dd53e]{
  
}
/* /Components/ProjectPreviewCard.razor.rz.scp.css */
img[b-snybfviw7j] {
 box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  max-height: max-content;
  width: 18vw;
}

p[b-snybfviw7j]{
  text-wrap: wrap;
}

/* /Layout/Header.razor.rz.scp.css */
.NavBar[b-dnvwr67m3g] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--DarkBlue);
  width: var(--DefaultOffset);
  height: 100vh;
  position: sticky;
  top: 0;
  border-right: 4px solid var(--Black);
  z-index: 1;
}

[b-dnvwr67m3g] a.nav-link{
  text-decoration: none;
}

img[b-dnvwr67m3g]{
  align-self: start;
  justify-self: start;
  margin: 5px;
}
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/NavComponent.razor.rz.scp.css */
summary[b-bs7seeowzj] {
  list-style: none;
  text-align: center;
}

details[b-bs7seeowzj] {
  text-align: center;
}

[b-bs7seeowzj] a.nav-link {
  text-decoration: none;
}

  [b-bs7seeowzj] a.nav-link.active {
    color: var(--Secondary-Color);
  }
/* /Pages/DefaultProject.razor.rz.scp.css */
.HeadPort > div[b-1zo35c79yg] {
  display: flex;
width: fit-content;
  border: 4px solid var(--Black);
}

  .HeadPort img[b-1zo35c79yg] {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
  }

  .HeadPort h1[b-1zo35c79yg] {
    writing-mode: vertical-lr;
    letter-spacing: -20px;
    text-orientation: upright;
    text-align: end;
    overflow: visible;
    display: block;
  }

h5[b-1zo35c79yg]{
  padding-top: 2em;
  width: 40vw;
}

.Project[b-1zo35c79yg] {
  display: flex;
  flex-direction: column;
  margin: 4vw;
}

/* /Pages/Home.razor.rz.scp.css */
