img {
  margin-top: var(--GeneralMargin);
  margin-bottom: var(--GeneralMargin);
  border: var(--PixelBorder) solid var(--Black);
  aspect-ratio: 16/10;
  object-fit: cover;
  width: 100%;
}

img:hover{
  filter: brightness(80%);
}

.CardImage, .Text {
  display: flex;
  flex-direction: column;
}

.ProjectDetails:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.Text {
  position: relative;
  bottom: 0;
}

  .Text > ::deep div {
    position: absolute;
    width: fit-content;
    left: -0.5em;
  }

  .Text > ::deep:first-child {
    bottom: 4em;
  }

  .Text > ::deep:last-child {
    bottom: 1.5em;
  }

::deep h3 {
  text-wrap: nowrap;
}
