.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--DarkBlue);
  width: 100%;
  height: var(--HeaderHeight);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: var(--PixelBorder) solid var(--Black);
  border-top: var(--PixelBorder) solid var(--Black);
}

.Logo {
  height: 100%;
  width: calc(var(--FrameWidth) - var(--PixelBorder));
}

img {
  max-width: 100%;
  max-height: 100%;
}

.Menu {
  display: flex;
  margin-left: var(--GeneralMargin);
  width: 75%;
  gap: var(--FrameWidth);
}

input {
  position: relative;
  bottom: -5px;
  border: var(--PixelBorder) solid var(--Black);
  appearance: none;
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
}

  input:checked {
    background-color: var(--DarkerBlue);
  }

  input:hover{
    background-color: var(--DarkerBlue);
  }