.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--DarkBlue);
  width: 100%;
  height: var(--HeaderHeight);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: var(--PixelBorder) solid var(--Black);
  border-top: var(--PixelBorder) solid var(--Black);
}

.Logo {
  height: 100%;
  width: calc(var(--FrameWidth) - var(--PixelBorder));
}

img {
  max-width: 100%;
  max-height: 100%;
  scale: 0.90;
}

.Menu {
  margin-left: var(--GeneralMargin);
  width: 75%;
  display: flex;
  justify-content: space-between;
}