<NavLink href=@Data.ProjectLink><img src=@Data.ProjectImage /></NavLink>
<div class="Text">
  <h3 class="ProjectName">@Data.ProjectName</h3>
  <p class="ProjectDescription">@Data.ProjectDescription</p>
</div>


@code {
  [Parameter] public ProjectData Data { get; set; } = new();

 
}
