.ProjectPreviewContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between
}

.ProjectPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ProjectCard {
  margin-bottom: 10px;
  width: 400px;
}

.Text > h1 {
  text-align: center;
  margin: var(--GeneralMargin) 0 var(--GeneralMargin) 0;
}

.Text > span {
  display: block;
  height: var(--PixelBorder);
  background-color: var(--Black);
  margin-bottom: var(--GeneralMargin) ;
}