.ProjectPreviewContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between
}

.ProjectPreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.ProjectCard {
  margin-bottom: 10px;
  width: 400px;
}

h3{
  
}