<div class="ProjectPreview">
  <h3>@Title</h3>
  <div class="ProjectPreviewContent">
  @foreach (var i in PDList)
  {
    <div class="ProjectCard">
      <ProjectPreviewCard Data="@i"/>
    </div>
  }
  </div>
</div>

@code {
  [Parameter] public List<ProjectData> PDList { get; set; } = 
  new List<ProjectData>() { new ProjectData(), new ProjectData(), new ProjectData() };
  [Parameter] public string Title { get; set; } = "My Projects";  
}
