div {
  border: calc(var(--PixelBorder)*2) solid #285178;
  width: calc(var(--GeneralMargin) * 4);
  max-width: 100%;
  padding: var(--PixelBorder);
  height: var(--GeneralMargin);
  background-color: var(--DarkBlue);
  align-content: center;
}

  div:hover, div:hover > h3 {
    border-color: #285178;
    background-color: #285178;
    color: black;
  }
 
h3 {
  color: var(--LightBlue);
  text-align: center;
}  