div {
  display: flex;
  border: calc(var(--PixelBorder)*2) solid #285178;
  max-width: 100%;
  padding: var(--PixelBorder);
  height: var(--GeneralMargin);
  background-color: var(--DarkBlue);
  align-content: center;
}

  div:hover, div:hover > h3 {
    border-color: #285178;
    background-color: #285178;
    color: black;
  }

h3 {
  width: 100%;
  height: 100%;
  color: var(--LightBlue);
  text-align: center;
}

img {
  margin-left: var(--PixelBorder);
    display: inline;
  }