.ProjectDescription {
  display: flex;
  gap: var(--GeneralMargin);
  flex-direction: column;
  width: 80%;
  margin-bottom: var(--GeneralMargin);
}

  .ProjectDescription > div:first-child, .BottomMargin {
    margin-top: var(--GeneralMargin);
  }

.BottomMargin, h3{
  margin-bottom: var(--GeneralMargin);
}

.ProjectPage {
  margin-bottom: var(--GeneralMargin);
}

img {
  width: 100%;
  border: var(--PixelBorder) solid var(--Black);
}
