.ProjectPage {
  height: 100%;
}

.ProjectDescription {
  padding-top: var(--GeneralMargin);
  width: 80%;
  margin: auto;
}

::deep div.LandingContainer {
  margin: auto;
}

.ProjectDescription {
  display: flex;
  gap: var(--GeneralMargin);
  flex-direction: column;
  width: 80%;
}

  .ProjectDescription > div:first-child {
    margin-top: var(--GeneralMargin);
  }

.ProjectPage {
  margin-bottom: var(--GeneralMargin);
}

img {
  border: var(--PixelBorder) solid var(--Black);
}