* {
  background: none;
}

.AboutMe {
  display: flex;
  border: var(--PixelBorder) solid var(--Black);

}

p {
  padding: calc(var(--PixelBorder)*2);
}

img {
  padding-top: calc(var(--PixelBorder)*2);
  flex-shrink: 0;
  object-fit: scale-down;
  width: 20%
}