.HeadPort > div {
  display: flex;
width: fit-content;
  border: 4px solid var(--Black);
}

  .HeadPort img {
    width: 40vw;
    height: 30vw;
    object-fit: cover;
  }

  .HeadPort h1 {
    writing-mode: vertical-lr;
    letter-spacing: -20px;
    text-orientation: upright;
    text-align: end;
    overflow: visible;
    display: block;
  }

h5{
  padding-top: 2em;
  width: 40vw;
}

.Project {
  display: flex;
  flex-direction: column;
  margin: 4vw;
}

