.ProjectsTimeline {
  border-top: var(--PixelBorder) solid var(--Black);
  width: 100%;
  display: grid;
  grid-template-columns: 45% calc(var(--GeneralMargin)*4) 45%;
  grid-auto-rows: minmax(6rem, auto);
  margin-bottom: var(--GeneralMargin);
}

p{
  padding: var(--PixelBorder);
}

.leftright0 {
  width: 100%;
  grid-column: 3
}

.Middle {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 2;
}

.leftright1 {
  text-align: right;
  width: 100%;
  grid-column: 1;
}

.leftright1, .leftright0 {
  position: relative;
  }

  .leftright1 > span {
    position: absolute;
    display: block;
    width: calc(var(--GeneralMargin) * 2);
    height: var(--PixelBorder);
    right: calc((var(--GeneralMargin)* -2));
    bottom: 50%;
    background-color: var(--Black);
  }

  .leftright0 > span {
    position: absolute;
    display: block;
    width: calc( var(--GeneralMargin) * 2);
    height: var(--PixelBorder);
    left: calc((var(--GeneralMargin)* -2));
    bottom: 50%;
    background-color: var(--Black);
    border-left: var(--PixelBorder) solid var(--Black);
  }

.Middle > span {
  display: block;
  width: var(--PixelBorder);
  height: 100%;
  background-color: var(--Black);
}
.ProjectDetails {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 4/3;
  border: var(--PixelBorder) solid var(--Black);
}

  .ProjectDetails > img {
    width: 30vw;
  }

.ProjectTimeLineDescription{
  position: absolute;
  height: 100%;
}

  .ProjectTimeLineDescription > ::deep div.StickyNote:first-child {
    position: absolute;
    bottom:   var(--GeneralMargin);
  }

  .ProjectTimeLineDescription > ::deep div.StickyNote {
    position: absolute;
    bottom: calc((var(--PixelBorder)*2) * -1);
    left: calc((var(--PixelBorder)*2) * -1);
    text-wrap: nowrap;
  }

.TimeInfo {
  display: flex;
  height: 100%;
}
.leftright1 > .TimeInfo {
  justify-content: end;
  align-items: center;
}

.leftright0 > .TimeInfo {
  justify-content: start;
  align-items: center;
}


  .leftright0 > .TimeInfo > p {
    display: block;
    border-left: var(--PixelBorder) solid var(--Black);
    border-bottom: var(--PixelBorder) solid var(--Black);
  }

.leftright1 > .TimeInfo > p {
  display: block;
  border-right: var(--PixelBorder) solid var(--Black);
  border-bottom: var(--PixelBorder) solid var(--Black);
}
