.ProjectsTimeline {
  box-sizing: border-box;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  -ms-overflow-style: none;
  border: var(--PixelBorder), solid, var(--Black) !important;
  scrollbar-width: none;
}

.PointInTime {
  height: 100%;
  scroll-snap-align: center;
  border: var(--PixelBorder), solid, var(--Black);

  background-repeat: no-repeat;
  background-size: contain;

}

canvas {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#one {
  background-color: green;
}

.ProjectsTimeline::-webkit-scrollbar {
  display: none;
}
