@inject NavigationManager Navigation
@inject HttpClient Http

<div class="SubPageBar">
	<div class="Title"><h2>SubPage</h2></div>
	<div class="Content">
	</div>
</div>



@code {
	protected override void OnInitialized()
	{
		url = Navigation.ToBaseRelativePath(Navigation.Uri);
	}
	[Inject]
	private NavigationManager NavigationManager { get; set; }
	string url;
}
